%html
  %head
    %title Lango Administration
    = stylesheet_link_tag    "administration"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      .header
      .menu
        %ul{:id => 'menu'}
          %li
            =link_to 'Notes', admin_notes_path
      
      .content
      = yield
